body{
    background-color: #FCE5EF;
    font-family: "Myriad Pro";
    color: #654f64;
    margin: 0px;
}
/*header*/
nav{
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
ul{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 500px;
    font-size: 20px;
}
li{
   list-style: none;
    font-size: 18pt;
    letter-spacing: 5px;
    font-weight: 600;
}
#mylogo{
    position: absolute;
    height: 60px;
    top: 5px;
    left: 15px;
}
#links:hover{
    transition-property: color;
    transition-duration: 500ms;
    color: #D4A9CE;
}
#links{
    text-decoration: none;
    color: #654f64;
    transition-property: color;
    transition-duration: 500ms;
}

/*artworks*/
#artwork{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
  padding: 1.5em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.content {
  position: relative;
  width: 93%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: #654F64;
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #FCE5EF;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #FCE5EF;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

/*contact*/
#contact{
    font-family: "myriad pro";
    color: #654f64;
    font-size: 20px;
    background-color: white;
    height: 290px;
    display: flex;
    align-content:center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}
#contact-title{
    letter-spacing: 5px;
    font-weight: 600;
    margin-left: 20px;
}
#contact-info{
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    margin-bottom: 15px;
    margin-left: 20px;
}




